*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Custom
build/
metro-samples
.idea
.gradle
*.iml
*.ipr
*.iws
generated/